*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f8f6f1;
}

/* Navbar */
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 10%;
  background:#0f3d2e;
  color:white;
}

nav ul{
  display:flex;
  list-style:none;
  gap:30px;
}

nav a{
  color:white;
  text-decoration:none;
  transition:0.3s;
}

nav a:hover{
  color:#ffd54f;
}

.logo{
  font-size:24px;
  font-weight:bold;
}

/* Hero Section */
.hero{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:80px 10%;
  gap:50px;
}

.hero-text{
  flex:1;
}

.hero-text h1{
  font-size:60px;
  color:#0f3d2e;
  margin-bottom:20px;
}

.hero-text p{
  font-size:20px;
  margin-bottom:30px;
  line-height:1.6;
  color:#555;
}

.hero-text button{
  padding:15px 35px;
  border:none;
  background:#0f3d2e;
  color:white;
  font-size:18px;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

.hero-text button:hover{
  background:#145c45;
}
.hero-slider{
  width: 100%;
  max-width: 550px;
  height: 500px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* SLIDES CONTAINER */
.slides{
  display: flex;
  width: 600%;
  height: 100%;
  animation: slide 30s infinite;
}

/* IMAGES */
.slides img{
  width: calc(100% / 6);
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

/* ANIMATION */
@keyframes slide{

  /* IMAGE 1 */
  0%, 13%{
    transform: translateX(0%);
  }

  /* IMAGE 2 */
  16%, 28%{
    transform: translateX(-16.666%);
  }

  /* IMAGE 3 */
  32%, 44%{
    transform: translateX(-33.333%);
  }

  /* IMAGE 4 */
  48%, 60%{
    transform: translateX(-50%);
  }

  /* IMAGE 5 */
  64%, 76%{
    transform: translateX(-66.666%);
  }

  /* IMAGE 6 */
  80%, 92%{
    transform: translateX(-83.333%);
  }

  /* BACK TO START */
  100%{
    transform: translateX(0%);
  }
.hero-slider:hover .slides{
  animation-play-state: paused;
}

}
/* Responsive */
@media(max-width:900px){

  nav{
    flex-direction:column;
    gap:20px;
  }

  .hero{
    flex-direction:column;
    text-align:center;
  }

  .hero-text h1{
    font-size:40px;
  }
  .whatsapp-order-btn{
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: white;
  padding: 15px 22px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: 0.3s;
  z-index: 1000;
}

.whatsapp-order-btn:hover{
  transform: translateY(-5px);
}

.whatsapp-order-btn i{
  font-size: 30px;
}
.btn{
  display: inline-block;
  padding: 14px 30px;
  background: #2e7d32;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.3s;
}

.btn:hover{
  background: #1b5e20;
  transform: translateY(-3px);
}
}